{
  "presets": ["next/babel"],
  "plugins": [
    ["babel-plugin-root-import", { "rootPathSuffix": "client" }],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    "transform-class-properties",
    "add-react-displayname"
  ]
}
